# Dependencies
node_modules/
**/node_modules/
package-lock.json
yarn.lock

# Build outputs
dist/
build/
.next/
**/.next/
out/
coverage/

# Environment variables
.env
.env.local
.env.*.local
.env.*.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
.windows

# Logs
*.log
*.log.*
logs/
**/logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
npm-dev*.log

# Temporary files
*.tmp
.cache/
temp/
temporary/
.parcel-cache
.turbo

# Testing
.nyc_output
.coverage

# Dev files
.env.test
.env.development.local
.env.test.local
.env.production.local

# Local standalone repositories
/Crm-RSV-360-Completo1.1/
